<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <style>
    html, body, #app {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #loading{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center
    }
  </style>

  <!-- 动态注入自定义css -->
  <% for(const i of Object.keys(htmlWebpackPlugin.options.libs)) {%>
  <% const lib = htmlWebpackPlugin.options.libs[i]%>
  <% if(!!lib.css) { %>
  <link rel='stylesheet' href='<%= lib.css %>'/>
  <% } %>
  <% } %>
  <!-- 动态注入app.css等 -->
  <% for(const cssChunk of htmlWebpackPlugin.files.css) {%>
    <link rel="stylesheet" href="<%= cssChunk %>"/>
  <% } %>
</head>

<body>
  <div id="app">
    <div id="loading">Loading...</div>
  </div>
  <!-- built files will be auto injected -->
  <script>
    var locationPath = location.pathname.replace(/\/[^\/]+$/, "");
    // dojoConfig...
    window.dojoConfig = {
      async: false,
      // packages: [{
      //   name: 'app',
      //   location: locationPath + "/app"
      // }]
    };
  </script>

  <% for(const i of Object.keys(htmlWebpackPlugin.options.libs)) {%>
  <% const lib = htmlWebpackPlugin.options.libs[i]%>
  <% if(!!lib.js) { %>
  <script src="<%= lib.js %>"></script>
  <% } %>
  <% } %>

  <script>
    var chunks = [];
    `<% for (const jsChunk of htmlWebpackPlugin.files.js) { %>`
      chunks.push("<%= jsChunk %>");
    `<% } %>`
    require(chunks)
  </script>

</body>

</html>